<% render partial: '/errors', locals: {instance: @cocktail } %>

<header>
<h1>Edit Cocktail</h1>
<header/>

  <%= render partial: 'form', locals: {cocktail: @cocktail, url:user_cocktail_path(current_user), user:current_user} %>

