
<header>
  <h1>Cocktails</h1>
</header>

<div class='index-container'>
<button><%= link_to "Create Cocktail", new_user_cocktail_path(@user) %></button><br><br>

    <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail.title, cocktail_path(cocktail) %><br>
        <img src="<%= cocktail.image %>" alt="cocktail"><br>
        <%= cocktail.date_created %>
        <br><br>
    <% end %>
 </div>   
