<header>
  <h1>
    <%= "#{@user.first_name}'s Cocktails" %>
  </h1>
</header>

  
    <% @user.cocktails.each do |c| %>
      <%= link_to c.title, cocktail_path(c) %><br>
      <img src="<%= c.image %>" alt="cocktail"><br>
      <%= c.date_created %>
    <% end %>

